#
# Copyright (c) 2014-present, Facebook, Inc.
#

[Unit]
Description=Facebook Open Routing Platform
BindsTo=wedge_agent.service
After=wedge_agent.service
# Unlimited restarts (no start limit hit within a given time period)
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/etc/packages/openr/current/openr_wrapper.par
ExecStartPre=/bin/ln -sf /etc/packages/openr/current/openr /usr/sbin/openr
ExecStartPost=/bin/ln -sf /etc/packages/openr/current/breeze /usr/sbin/breeze
Restart=always
RestartSec=1
TimeoutStopSec=5
LimitNOFILE=10000000
LimitCORE=32G
SyslogIdentifier=openr
StandardOutput=syslog

# Disable swap for this unit file (cgroup) - See D14078530 for more info
MemorySwapMax=0

# Place in unrestricted workload.slice
Slice=workload.slice

[Install]
WantedBy=multi-user.target wedge_agent.service
