#
# Copyright (c) 2014-present, Facebook, Inc.
#

[Unit]
Description=Facebook Open Routing Platform
BindsTo=wedge_agent.service
After=network-online.target wedge_agent.service

[Service]
Type=simple
ExecStart=/etc/packages/openr/current/run_openr.sh /etc/packages/openr/current/fabric_openr_config
ExecStartPre=/bin/ln -sf /etc/packages/openr/current/openr /usr/sbin/openr
ExecStartPost=/bin/ln -sf /etc/packages/openr/current/breeze /usr/sbin/breeze
Restart=always
RestartSec=3
TimeoutSec=10
TimeoutStartSec=10
TimeoutStopSec=10
LimitNOFILE=10000000
LimitCORE=2G
SyslogIdentifier=openr
StandardOutput=syslog

[Install]
WantedBy=multi-user.target wedge_agent.service
