# Copyright (c) Meta Platforms, Inc. and affiliates.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

[Unit]
Description=Facebook Open Routing Platform

[Service]
Type=simple
ExecStart=/usr/sbin/run_openr.sh /etc/sysconfig/openr
Restart=always
RestartSec=3
TimeoutSec=10
TimeoutStartSec=10
TimeoutStopSec=10
LimitNOFILE=10000000
LimitCORE=2G
SyslogIdentifier=openr
# Place in unrestricted workload.slice
Slice=workload.slice

[Install]
WantedBy=multi-user.target
