#
# Copyright (c) 2014-present, Facebook, Inc.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.
#

[Unit]
Description=Facebook Open Routing Platform
After=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/openr_install_acl.sh install
ExecStart=/usr/sbin/run_openr.sh /etc/sysconfig/fabric_openr_config
Restart=always
RestartSec=3
TimeoutSec=10
TimeoutStartSec=10
TimeoutStopSec=10
LimitNOFILE=10000000
LimitCORE=2G
SyslogIdentifier=openr
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
