name: Documentation Autoformat check + Build

on:
  push:
    paths:
      - "openr/docs/**"
      - "README.md"
      - "CONTRIBUTING.md"
  pull_request:
    paths:
      - "openr/docs/**"
      - "README.md"
      - "CONTRIBUTING.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Link check markdown + yaml with prettier
        run: |
          npm install prettier
          npx prettier --check .

      - name: Install docs dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r "openr/docs/requirements.txt"

      - name: Check all links resolve
        run: make -C openr/docs linkcheck

      - name: Build documentation
        run: make -C openr/docs html
